@font-face {
font-family: 'open_sanssemibold';
font-weight: normal;
font-style: normal;
src:url('../fonts/opensans-semibold.woff2') format('woff2');
}
@font-face {
font-family: 'open_sanslight';
font-weight: normal;
font-style: normal;
src:url('../fonts/opensans-light.woff2') format('woff2');
}
@font-face {
font-family: 'open_sansregular';
font-weight: normal;
font-style: normal;
src:url('../fonts/opensans-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Neck Romancer';
    font-weight: normal;
    font-style: normal;
    src:url('../fonts/neck-romancer-regular.ttf') format('ttf');
}